:root {
  /* layout */
  --nav-height: 60px;

  /* font */
  --ff-primary: "Russo One";
  --ff-secondary: "Roboto Mono";
  --ff-btn: "Roboto";

  /* color */
  /* light theme */
  --clr-primaryLight: #ffffff;
  --clr-secondaryLight: #c2c2c2;
  /* dark theme */
  --clr-primaryDark: #000000;
  --clr-secondaryDark: #5c5c5c;
  --clr-accent: #1c73ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-secondary);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  min-height: 100vh;
  padding-top: var(--nav-height);
}